body {
    margin: 0;
    font-family: 'TT Lakes', sans-serif;
}

.header {
    position: fixed;
    width: 320px;
    left: 320;
    top: 0;
    height: 1024px;
    background-color: #fff; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__menu-button,
.header__search-button,
.header__logo-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header__search-button {
   margin-left: auto; 
}

.header__menu-icon,
.header__search-icon {
    width: 40px; 
    height: 40px;
}

.logo__logotype {
    width: 97px;
    height: 51px;
    margin-left: 17px;
	border: 0;
}

.services {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    left: 24px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 80px;
}

.services__title {
    width: 120px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(126, 126, 130, 1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.services__navigation {
    list-style: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.navigation {
    list-style: none;
}

.sub-navigation {
    padding-left: 20px; 
}

.navigation__item:hover .sub-navigation {
    display: block; 
}

.navigation__item {
    position: relative;
    margin-bottom: 32px;
}

.navigation__link {
    font-family: 'TT lakes','TT Lakes-medium', sans-serif;
    width: 132px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(27, 28, 33, 1); 
    text-decoration: none;
    transition: filter 0.3s, opacity 0.3s;
    position: relative;
}

.navigation__link:hover { 
    color: rgba(126, 126, 130, 1);
}

.navigation__item:hover,
.navigation__stick {
    height: 40px; 
}

.navigation__stick {
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: rgba(65, 246, 215, 1);
    left: -10px;
    transition: height 0.3s;
}

.contact-info {
    margin-top: 10px;
}

.contact-info__email-link {
    display: block;
    width: 106px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(27, 28, 33,1); 
    text-decoration: none;
}

.contact-info__phone {
    width: 196px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-top: 8px; 
}

.contact-info__email-link,
.contact-info__phone {
    margin-bottom: 10px;
}

.contact-info__language {
    display: flex;
    width: 87px;
    height: 24px;
    margin-top: 10px; 
}

.contact-info__language-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1); 
    margin-right: 10px; 
    margin-top: 20px;
}

.contact-info__language-link--active {
    color: rgba(126, 126, 130, 1);
    text-decoration: none;
    font-weight: bold;
}

.menu__link {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.menu__item {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item:last-child {
    margin-right: 0; 
}

.header__wrapper-menu {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}   

.menu {
    display: flex; 
    justify-content: flex-start; 
    margin-bottom: 10px; 
}